ion-header {
    ion-toolbar {    
        --background: linear-gradient(170deg, rgba(102,141,207,1) 44%, rgba(194,142,255,1) 100%);
        color: #fff;
    }
}

:host ::ng-deep {
    .monthview-container {
        height: auto !important;
    }
 
    .event-detail-container {
        display: none;
    }

    table {
        font-size: 0.8rem !important;
    }

    tbody {
        font-size: 0.7rem !important;
    }
}